## 1. Download a timeseries of daily deaths per country

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [43]:
# Download daily deaths per country from Github repo raw csv file and save to Pandas dataframe
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths_df = pd.read_csv(url, error_bad_lines=False)

# Write daily deaths dataframe to CSV file (for reference)
deaths_df.to_csv('time_series_covid19_deaths_global.csv', index = False, header=True)

## 2. Convert the table so that each country and each day is a separate row

In [3]:
# Aggregate deaths by country
grouped_deaths_df = deaths_df.groupby('Country/Region').sum()

In [4]:
# Drop 'Lat' and 'Long' columns 
grouped_deaths_df = grouped_deaths_df.drop(["Lat", "Long"], axis=1)

In [5]:
# Reset index
grouped_deaths_df = grouped_deaths_df.reset_index()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1,1,2,4,4,4,4,4,4,4
1,Albania,0,0,0,0,0,0,0,0,0,...,4,5,5,6,8,10,10,11,15,15
2,Algeria,0,0,0,0,0,0,0,0,0,...,17,19,21,25,26,29,31,35,44,58
3,Andorra,0,0,0,0,0,0,0,0,0,...,1,1,1,3,3,3,6,8,12,14
4,Angola,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Venezuela,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,3,3
176,Vietnam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
178,Zambia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,Zimbabwe,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [7]:
# Get date headers
date_headers = list(grouped_deaths_df.columns[1:].values)

In [8]:
# Convert data from wide form to long form
long_df = pd.melt(grouped_deaths_df, id_vars= ['Country/Region'], value_vars= date_headers)

In [9]:
# Rename Columns
long_df = long_df.rename(columns={"Country/Region": "country", "variable": "date", "value": "total_deaths"}, errors="raise")

In [13]:
# Change date column type
long_df['date'] = pd.to_datetime(long_df['date'])

## 3. Upload the table from step 2 into an SQL table named deaths_total

In [16]:
# Connect to PostgreSQL database
engine = create_engine('postgresql://postgres:password@localhost:5432/covid-19')

In [17]:
long_df.to_sql('deaths_total', con=engine, if_exists='replace', index = False)

## 4. Calculate the daily change in deaths for each country

In [22]:
# Add deaths_change column to dataframe in Step 2
long_df.insert(3, 'deaths_change',0)

In [25]:
# Get list of unique country names
countries = list(long_df['country'].unique())

In [26]:
# Calculate deaths_change for each country in 'countries' list

for country in countries:
    # Set temporary df for country
    temp_df = long_df.loc[long_df['country'] == country]
    
    # Find difference between rows (returns difference results dataframe)
    diff = temp_df['total_deaths'].diff()
    
    # Apply difference calculation to original long_df according to index
    long_df.iloc[diff.index,3] = diff

In [27]:
# Remove NaN values from dataframe
long_df = long_df.fillna(0)

## 5. Upload the table from step 4 into an SQL table named deaths_change_python

In [42]:
# Select relevant columns
deaths_change_df = long_df[['country','date','deaths_change']]

In [39]:
# Upload deaths_change dataframe into PostgreSQL table 
deaths_change_df.to_sql('deaths_change_python', con=engine, if_exists='replace', index = False)